body{
	padding:0; 
	margin:0 auto; 
	font-size:14px;
	color:#303030;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	width:1000px;
}
* {margin:0; padding:0;}
ul{margin:0;
	padding:0;
}
img{
	border:none;
}
.clear{
	clear:both;
}
.cirle{
	width:200px;
	height: 200px;
	border-radius: 100px;
	background:#e754c6;
	color:#fff;
	font-size:18px;
	text-align: center;
	line-height: 200px;
	cursor: pointer;
}
.squar{
	width:200px;
	height: 150px;
 	background:#4bc2e5;
	color:#fff;
	font-size:18px;
	text-align: center;
	line-height: 20px;
	padding-top:50px;
	cursor: pointer;
}

.areabox {
	width:1000px; 
	height:200px;
	overflow-y:hidden;
	border:1px solid #ccc;
}