body{
	padding:0; 
	margin:0 auto; 
	font-size:14px;
	color:#303030;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	width:1000px;
}
* {margin:0; padding:0;}
ul{margin:0;
	padding:0;
}
img{
	border:none;
}
.clear{
	clear:both;
}
