<style type="text/css">
  .road_search_cont{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: #FFF;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 3px;
      display: block;
      position: absolute;
      top: 33px;
      z-index: 99;
      left: 0px;
      width: 180px;
  }
  .road_search_cont li{
      list-style: none;
  }
  .road_search_cont li ul{
    padding-left:20px;
  }
  .road_search_cont li a{
      display: block;
      padding:2px 5px;
      color:#616161;
  }
  .road_search_cont li a:hover{
     text-decoration: none;
     background: #438eb9;
     color: #fff;
  }
  .mon-tree{
    width:180px;
    margin-left:180px;
    position: absolute;
  }
  .mon-tree .fa-caret-down{
    position: absolute;
    top:10px;
    right:8px;
  }

</style>

<div class="mon-tree">
	<span class="fa fa-caret-down"></span>
	<input style=" width:180px; border-radius:0px;" class="form-control input-select" value="请选择结构类型">
	<ul class="road_search_cont section_start_ul" style="display: none">
		{% for item in data %}
		<li>
			<a class="struct-tab" _id="{{ item.get('_id', '') }}">{{ item.get('name', '') }}</a>
			<ul>
				{% for sub_item in item.get('sub_struct', []) %}
				<li>
					<a class="struct-tab" _id="{{ sub_item.get('_id', '') }}">{{ sub_item.get('name', '') }}</a>
				</li>
				{% end %}
			</ul>
		</li>
		{% end %}
	</ul>
</div>


<table class="table table-bordered">
	<tbody>
		<tr>
			<td style="background: #DCDCDC">量程</td>
			<td>2米</td>
			<td style="background: #DCDCDC">分辨率</td>
			<td>0.01mm</td>
		</tr>
		<tr>
			<td style="background: #DCDCDC">温漂（0-40℃）</td>
			<td>0.2mm</td>
			<td style="background: #DCDCDC">工作电压</td>
			<td>9 ~ 28v</td>
		</tr>
		<tr>
			<td style="background: #DCDCDC">信号输出</td>
			<td>RS485/232</td>
			<td style="background: #DCDCDC">工作温度</td>
			<td>-30 ~ 80℃</td>
		</tr>
		<tr>
			<td style="background: #DCDCDC">防护等级</td>
			<td>IP67	</td>
			<td style="background: #DCDCDC">产品尺寸</td>
			<td>100×100×50mm</td>
		</tr>
	</tbody>
</table>
