{% extends "_base.html" %}

{% block style %}
<style>
  .label-success {
      background-color: #468847;
  }

  .label-warning {
      background-color: #f18d05;
  }

  .label-danger {
      background-color: #CC3333;
  }
  .panel-title {
    margin-top: 10px;
  }

  .panel-title small{
      width: 200px;
      overflow: hidden;
  }
  .panel-title .expand-btn{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 40%;
    right: 30%;
  }

  .custommodal {
    float: left;
     -webkit-box-orient: horizontal; 
     -webkit-column-fill:balance;
    width:100%;
  }
  .monitorlabels{
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden; 
  }

  .bkNode{
    overflow: hidden;
    position: static;
    background-color: #fff;
  }

  .bkNode span{
    overflow: visible;
      
  }
  .flip-span{
    position: static;
    max-height: 21px;
  }

  .lightStart{
       -moz-box-shadow:0 0 7px 7px #06c;
       -webkit-box-shadow:0 0 7px 7px #06c;
       box-shadow:0 0 7px 7px #06c;
  }

  .lightEnd{
      -moz-box-shadow:0 0 7px 7px #06c;
       -webkit-box-shadow:0 0 7px 7px #06c;
       box-shadow:0 0 7px 7px #06c;
  }


  .modellist {
    -webkit-column-fill:balance;
  }

  .timeoutInfo, .loadingInfo{
    float: right;
    margin-top: 3px;
    margin-right: 3px;
  }

/************dropdown menu***********/
  .ani-dropdown{
    border-radius: 50%;
  }
  #ani-option{
    min-width: 100px;
    width: 100px;
    padding: 0px 5px 0px 5px;
    text-align: center;
  }

  #ani-option li{
    cursor: pointer;
    margin-top: 10px;
  }

  .flip-demo, .slide-demo{
    display: block;
    min-width: 40px;
    padding: 0px;
    line-height: 20px;
  }
  .popover {
    index: 9999;
    opacity: 1;
  }
  .popover-content {
     color: #666;
  }
  h4{
    line-height: 0;
    margin-top: 0px;
  }
  .modal-header h4{
    line-height:44px;
  }
  .panel-title {
    margin-top: 0px; 
  }
  .project-header2 .take-btn {
    position: relative;
    top:11px;
    right: 0px;
  }
  .panel-title .btn{
    border-radius:0px;
  }
  .panel-title .dropdown-menu{
    min-width: 320px;
  }
  .btn-success {
  background-color: #468847;
  }
  .btn-warning {
  background-color: #f18d05;
  }
  .btn-danger {
  background-color: #CC3333;
  }
  .dropdown-menu>li>a {
    padding: 3px 13px;
  }
  .main-content{
    margin-top:0px;
  }
  .container-fluid{
    padding-left:8px;
  }
  .custommodal {
    background-clip: padding-box;
    background-color: #FFFFFF;
    width: 49%;
    margin: 1px 0px 13px 0px;
    -webkit-column-break-inside:  avoid;
    -moz-column-break-inside:  avoid;
    -ms-column-break-inside:  avoid;
    column-break-inside:  avoid;
  }
  .panel {
  }
  /*不允许单个采样的传感器*/
  {% for m in monitors.keys() %}
      {% if flag == 'static' %}
          #{{m}} .flip-span {
              pointer-events: none;
          }
      {% else %}
            {% if monitor_config.get(m, {}).get('single', '0') == '0' %}
              #{{m}} .flip-span {
                  pointer-events: none;
              }
            {% end %}
      {% end %}
  {% end %}
  
</style>
{% end %}
{% block content %}
<div class="column2 modellist">
  <div class="custommodal panel panel-default drag-pane" >
    <div class="modal-header">
    <!-- 获取全部的传感节点个数 -->
    {% set total_nums = 0 %}
    {% for m in monitors.keys() %}
      {% if m!= 'Marksman' and monitor_config.get(m, {}).get('watch', '0') == '1'%}
        {% for s in sensors %}
          {% if s.get('sensor_type') == m and m != 'MODAL' and '0' != str(s.get('isshow', '')) %}
            {% set total_nums = total_nums + 1 %}
          {% end %}
        {% end %}
      {% end %}
      {% if 'MODAL' == m %}
        {% set total_nums += 6 %}
      {% end %}
    {% end %}
      <h4>传感器部署图({{ total_nums }}个)</h4>
    </div>
    <div class="modal-body monitorlabels" style='min-height:400; height:400px'>
      <div style='position: relative;'>
        <div id="sensors">
          {% for s in sensors %}
              {% if s.get('sensor_type') in monitors and '0' != s.get('isshow') %}
              <div style="left: {{ s.get('position',[0,0])[0] }}%; top: {{ s.get('position',[0,0])[1] }}%"  sensor-display="{{ monitors[s.get('sensor_type')]}}-{{ s.get('sensor_id')}}" class="sensor s-{{s.get('sensor_type')}}">{{ s.get('sensor_id')}}</div>
              {% end %}
          {% end %}
        </div>
        <div id="map-nav">
          {% for m in monitors.keys() %}
            {% if m not in ('MODAL','Marksman') and monitor_config.get(m, {}).get('watch', '0') == '1' %}
              <span class="label label-default nav-{{m}}" data-type="{{ m }}">{{ monitors[m] }}</span>
            {% end %}
          {% end %}
        </div>
        <div style='left: 0; top: 0; width: 100%;'>
          <img id='sensorpic' src='' alt="无图片">
        </div>
      </div>
    </div>
  </div>

  {% for m in monitors.keys() %}
      {% if m!= 'Marksman' and monitor_config.get(m, {}).get('watch', '0') == '1'%}
      <div class="custommodal panel panel-default drag-pane sensormonitor" sensortype='{{m}}' codename='{{ code_name }}' netid='all'>
        <div class="modal-header panel-heading" style="background-color:#fff">
          <h4 class="project-header2 panel-title">
          <!-- 获取不同传感类型的节点个数 -->
          {% set monitor_num = 0 %}
          {% for s in sensors %}
            {% if s.get('sensor_type') == m and '0' != str(s.get('isshow', '')) %}
              {% set monitor_num = monitor_num + 1 %}
            {% end %}
          {% end %}
          <!-- 模态的个数为6个(特殊设置) -->
          {% if 'MODAL' == m %}
            {% set monitor_num = 6 %}
          {% end %}


          {%if flag=='dynamic' %}
          <a href='/monitor/sensor/{{ project.get("code_name")}}/{{m}}/' class="iframeurl" projectname='{{ project["name"]}}' tabtitle="{{ monitors[m] }}">{{ monitors[m] }}({{ monitor_num }}个)</a> 
          {%else%}
          <span class="iframeurl" projectname='{{ project["name"]}}' tabtitle="{{ monitors[m] }}">{{ monitors[m] }}({{ monitor_num }}个)</span>
          {% end %}

            <small>
                [{{units.get(m)[0]}} 单位:{{ units.get(m)[1] }}]
            </small>
           <!--  {% if intros.get(m) %}
            <small class="info-healper text-muted" data-toggle="popover" data-content="{{ intros.get(m) }}" tabindex="0">说明</small>
            {% end %} -->

            {% if monitor_config.get(m, {}).get('group', '0') == '1' and flag=='dynamic'%}
            <button class='btn btn-mini btn-xs btn-primary take-btn'>
              立即采样
              <span class="glyphicon glyphicon glyphicon-flash"></span>
            </button>
            {% end %}
            <div class="btn-group pull-right caption_wrap" style="top:11px;">
              <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                说明 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% if intros.get(m) %}
                <li style="line-height: 20px; padding: 0px 8px; color: #383838;">简介：{{ intros.get(m) }}</li>
                {% end %}
                <li class="divider"></li>
                <li class="pull-left"><a href="javascript:void(0);"><button class="btn btn-success btn-xs" style="width:18px; height:10px;"></button> 正常</a></li>
                <li class="pull-left"><a href="javascript:void(0);"><button class="btn btn-primary btn-xs" style="width:18px; height:10px;"></button> 微小波动</a></li>
                <li class="pull-left"><a href="javascript:void(0);"><button class="btn btn-info btn-xs" style="width:18px; height:10px;"></button> 轻度预警</a></li>
                <li class="pull-left"><a href="javascript:void(0);"><button class="btn btn-warning btn-xs" style="width:18px; height:10px;"></button> 中度警告</a></li>
                <li class="pull-left"><a href="javascript:void(0);"><button class="btn btn-danger btn-xs" style="width:18px; height:10px;"></button> 严重警告</a></li>
              </ul>
            </div>
           <!--  <a data-toggle="collapse" class="expand-btn" data-parent="#accordion" href="#{{m}}" title="点击展开/关闭面板、拖动调整面板位置">
              <span class="glyphicon glyphicon-chevron-down" id="down"></span>
            </a> -->
          </h4>
            

        </div>
        <div class="modal-body senselabels monitorlabels panel-collapse collapse in" id="{{m}}" style="transition:0.01s ease-out;">
          <div class="panel-body">
            {% if m == 'MODAL'%}
            {#% for key,val in data.get(m,{}).items() %#}
            {% for key in range(6)%}
            <label class="well col-lg-4 col-md-3 col-sm-6 bkNode" title="{{ monitors[m] }}-{{ key+1 }}最后更新时间：{{ data_time.get(m,{}).get(str(key+1),'') }}">
              <strong>{{ key+1 }}-阶模态:</strong>
              <span class="label label-success flip-span" id="m-{{m}}-{{ key + 1 }}" >{{ data.get(m,{}).get(str(key + 1),0.0) }}
              </span>
            </label>
            {% end %}

          {% elif m == 'NVIB' %}
            {% for s in sensors %}
            <!-- isshow=='0',则不进行显示,否则显示 -->
            {% if s.get('sensor_type') == 'NVIB' and '0' != str(s.get('isshow', '')) %}
            {% for channel in ['x','y','z'] %}
            <label  class="well col-lg-4 col-md-3 bkNode" title="{{ monitors[m] }}-{{ s.get('sensor_id')}}最后更新时间：{{ data_time.get(m,{}).get(str(s.get('sensor_id')) +'-'+ channel,'') }}, 上限:{{ s.get(monitor_config.get(m, {}).get('key', '') + '_h_up') or '' }}，下限:{{ s.get(monitor_config.get(m, {}).get('key', '') + '_h_down') or '' }}" data-hup="{{ s.get('h_up')}}" data-hdown="{{ s.get('h_down')}}">
                <strong>节点-{{ s.get('sensor_id')}}-{{channel}}:</strong>
                <span class="label {% if health.get(m,{}).get(str(s.get('sensor_id'))) in [0, None] %}label-success {% else%} label-warning {% end %}flip-span" id="m-{{m}}-{{ s.get('sensor_id')}}_{{channel}}" sid="{{ s.get('sensor_id')}}" nid="{{ s.get('net_id')}}">{{ data.get(m,{}).get(str(s.get('sensor_id')) + '-' + channel, 0.0) or '无' }} 
              </span>
            </label>
            {% end %}
            {% end %}
            {% end %}
          {% else %}
            {% for s in sensors %}
            {% if s.get('sensor_type')==m and '0' != str(s.get('isshow', '')) %}
            <label  class="well col-lg-4 col-md-3 bkNode" title="{{ monitors[m] }}-{{ s.get('sensor_id')}}最后更新时间：{{ data_time.get(m,{}).get(str(s.get('sensor_id')),'') }}, 上限:{{ s.get(monitor_config.get(m, {}).get('key', '') + '_h_up') or '' }}，下限:{{ s.get(monitor_config.get(m, {}).get('key', '') + '_h_down') or '' }}" data-hup="{{ s.get('h_up')}}" data-hdown="{{ s.get('h_down')}}">
            <strong>节点-{{ s.get('sensor_id')}}:</strong>
              <span class="label {% if health.get(m,{}).get(str(s.get('sensor_id'))) in [0, None] %}label-success {% else%} label-warning {% end %}flip-span" id="m-{{m}}-{{ s.get('sensor_id')}}" sid="{{ s.get('sensor_id')}}" nid="{{ s.get('net_id')}}">{{ data.get(m,{}).get(str(s.get('sensor_id')),'无') }}
              </span>
            </label>
            {% end %}
            {% end %}
          {% end %}
          </div>
        </div>
      </div>
      {% end %}
  {% end %}

</div>
{% end %}

{% block js %}
<!--
<script src="{{ static_url("metro/js/jquery.flippy.min.js") }}"></script>-->
<script src="{{ static_url("metro/js/command.js") }}"></script>
<script src="{{ static_url("metro/js/masonry-docs.min.js") }}"></script>


<script type="text/javascript" src="/static/metro/js/newiframetab.js"></script>
<!-- <script src="{{ static_url("metro/js/span-animate.js") }}"></script> -->
<script>
  try{
    $('a.iframeurl').iframetab('#tablst','#iframelst','#sidebar'); 
  }catch(err){}
  
    $('ol').css('display','none');   
    var addLoadingInfo = function(obj){
      var addLoadingInfo = '<i class="fa fa-cogs loadingInfo"></i>';
      
      $(obj).html(function(){
          return addLoadingInfo + $(this).text(); //put <i> front
      });
    }
    
    var addTimeoutInfo = function(obj){
        var timeoutInfo = '<i class="fa fa-frown-o timeoutInfo"></i>';
        
        $(obj).html(function(){
          return  timeoutInfo + $(this).text();
        });
    }

    var dropPx = function (str) {
        if(typeof str == 'string'){
            return str.substring(0, str.length-2);
        }
    };

    var resizeLabel = function(){
        $('.panel-body').each(function(i){
            $lastNodeLabel = $(this).children('label').children('strong').last();
            lastNodeLabelWidth = parseInt(dropPx($lastNodeLabel.css('width')));
            $node = $(this).children('label');
            nodeWidth = parseInt(dropPx($node.css('width')));
            finalWidth = nodeWidth - lastNodeLabelWidth - 26.8;
            $(this).children('label').children('span').css('width',finalWidth + 'px');
        });
    };

  $(function(){
    try{
    window.parent.open_menu('{{ project["code_name"]}}','monitor');
    }catch(err){}
 
  //说明提示tips
  $('.caption_wrap').bind('mouseover',function(){
    $(this).addClass('open');
  }).mouseout(function(){
    $(this).removeClass('open');
  })

  var formatDatetime = function(date) {
      two_digits = function(d) {
        if ((d+"").length==1)
          return "0"+d;
        else
          return d;
      };
      
      var yy=date.getFullYear(), mm=two_digits(date.getMonth()+1), dd=two_digits(date.getDate());
      var HH=two_digits(date.getHours() ), MM=two_digits( date.getMinutes() ), SS=two_digits( date.getSeconds() );

      return yy+"-"+mm+'-'+dd+' '+HH+':'+MM+':'+SS;
  };
        
  window.UI = {
      change_status:function(obj, data){
        obj.html(data.val);
        obj.parents('.bkNode').attr('title','最后更新时间：'+ data.addon  + '，上限：' + data.h_up + '，下限：' + data.h_down);
        obj.attr('title','最后更新时间：'+ data.addon + '，上限：' + data.h_up + '，下限：' + data.h_down);
        obj.removeClass('label-danger');
        obj.removeClass('label-warning');
        obj.css('background-color', '#468847');
        obj.removeAttr('isget');

        //obj.fadeOut().fadeIn();
         
        if(data.level != '0'){
            obj.removeClass('label-success');
            obj.addClass('label-warning').css('background-color', '#f18d05');
          }else if(data.level=='0'){
            obj.removeClass('label-warning');
            obj.addClass('label-success').css('background-color', '#468847');
            obj.removeAttr('disabled');
         }

         if(obj.parents('.senselabels').find('.label-danger').size()==0){
            obj.parents('.custommodal').find('.btn-mini').removeClass('btn-warning').removeAttr('disabled');
         }
      },

      getStatus: function(obj,status,message,dtime){
        if(status){
          $(obj).addClass('failGetInfo');
          $(obj).addClass('label-danger').css('background-color', '#CC3333');
          
          var hup = $(obj).data('hup');
          var hdown = $(obj).data('hdown');

          addTimeoutInfo(obj);
         
          $(obj).removeClass('label-warning');
          $(obj).removeAttr('disabled');
          $(obj).attr('title',message + '，上限：' + hup + '，下限：' + hdown);
          $(obj).parents('.bkNode').attr('title',message);

          //6s later,recovery
          setTimeout(function(){
            $(obj).removeClass('label-danger');
            $(obj).addClass('label-success').css('background-color', '#468847');
            $(obj).html($(obj).text());
            
            dtime = $(obj).val() + '最后更新时间：' + dtime;
           
            var title = dtime + '，上限：' + hup + '，下限：' + hdown;
            $(obj).attr('title',title);
            $(obj).parents('.bkNode').attr('title',dtime);
          }, 6000);
        }
      }

  };
  
  var uiconfigs = {};
  {% for m in ui_config.keys() %}
    uiconfigs['{{m}}'] = '{{ ui_config[m]}}'
  {% end %}


  function show(sensor_type){
    $('#map-nav span').removeClass('label-info');
    $('.nav-'+sensor_type).addClass('label-info');

    $('.sensor').hide();
    $('.s-'+sensor_type).show();

    $('#sensorpic').attr('src','/metro/getimg?fid='+uiconfigs[sensor_type]);
  }

  $('#map-nav .label').click(function(){
    var sensor_type = $(this).attr('data-type');
    show(sensor_type);

  })

  {% if first_sensor_type %}
      show('{{ first_sensor_type }}');
  {% end %}
  
  var code_name = '{{ code_name}}';
  var nvib_count = 0;

  var updater = {
    socket: null,

    start: function() {
      var url = "ws://" + location.host + "/websocket/time_monitor?code_name={{code_name}}";
      console.log(url);
      updater.socket = new WebSocket(url);
      
      updater.socket.onmessage = function(event) {
        var data = $.parseJSON(event.data);

        //console.log(event.data);
        if(data.code_name.toUpperCase()==code_name.toUpperCase()){
            var mobj = $('#m-'+data.sensor_type+'-'+data.sensor_id);
            UI.change_status(mobj, data);
        }


      }

      updater.socket.onclose = function(event){
        if(event.code == 1006){
            console.log('closed:',event);
            updater.socket.close();
        }else{
                  //5秒后重连接
          window.setTimeout(updater.start, 5000); 
          console.log('close:',event);
        }

      }

      updater.socket.onerror = function(event){
        console.log('error:',event);
      }

      updater.socket.onopen = function(event){
        console.log('open:',event);
      }
    },

  };

  updater.start();

   var commander = {
    socket: null,

    start: function() {
      var url = "ws://" + location.host + "/commandsocket";
      commander.socket = new WebSocket(url);
      commander.socket.onmessage = function(event) {
        console.log('onmessage:',event);

        var data = $.parseJSON(event.data);
 
        var _code_name = data['code_name'],sensor_type=data['sensor_type'],
            sensor_id=data['sensor_id'],ins_code=data['ins_code'], dtime=data['dtime'],
            message = data['message'];

        var status = ins_code,
            dtime = formatDatetime(new Date(dtime*1000)),
            exp = '#m-' + sensor_type + '-' + sensor_id;

        if(_code_name==code_name){
            var mobj = $(exp);
            UI.getStatus(mobj, status, message, dtime);
        }
      }

      updater.socket.onclose = function(event){
        if(!event.code == 1006){
          //5秒后重连接
          window.setTimeout(updater.start, 5000); 
          console.log('closed:',event);
        }else{
           updater.socket.close();
        }


      }

      updater.socket.onerror = function(event){
        console.log('error:',event);
      }

      updater.socket.onopen = function(event){
        console.log('open:',event);
      }
    },

  };

  commander.start();


  $('.panel-collapse').on('hidden.bs.collapse', function () {
    $(this).parents('.custommodal').find('.expand-btn').children('span').removeClass('glyphicon-chevron-down')
                 .addClass('glyphicon-chevron-up');
  })
  $('.panel-collapse').on('shown.bs.collapse', function () {
    $(this).parents('.custommodal').find('.expand-btn').children('span').removeClass('glyphicon-chevron-up')
                 .addClass('glyphicon-chevron-down');
  })


    $('.modellist').masonry({
                itemSelector: '.custommodal',
                gutter: 20,
                isAnimated: true,
    });


/**
  $('.modellist').sortable({
      cursor: "move",
      opacity: 0.8,
      cancel: ".modal-body,button,.panel",
      scroll:false
  });

**/

/*  $('.modellist').sortable({
      cursor: "move",
      opacity: 0.8,
      cancel: ".modal-body,button",
      scroll:true
  });*/

  $('.info-healper').popover({
      placement: 'right',
      trigger: 'hover',
      html: 'false'
  });

})
</script>
{% end %}

<style type="text/css">
  .road_search_cont{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: #FFF;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 3px;
      display: block;
      position: absolute;
      top: 33px;
      z-index: 99;
      left: 0px;
      width: 180px;
  }
  .road_search_cont li{
      list-style: none;
  }
  .road_search_cont li ul{
    padding-left:20px;
  }
  .road_search_cont li a{
      display: block;
      padding:2px 5px;
      color:#616161;
  }
  .road_search_cont li a:hover{
     text-decoration: none;
     background: #438eb9;
     color: #fff;
  }
  .mon-tree{
    width:180px;
    margin-left:180px;
    position: absolute;
  }
  .mon-tree .fa-caret-down{
    position: absolute;
    top:10px;
    right:8px;
  }

</style>

<div class="mon-tree">
	<span class="fa fa-caret-down"></span>
	<input style=" width:180px; border-radius:0px;" class="form-control input-select" value="请选择结构类型">
	<ul class="road_search_cont section_start_ul" style="display: none">
		{% for item in data %}
		<li>
			<a class="struct-tab" _id="{{ item.get('_id', '') }}">{{ item.get('name', '') }}</a>
			<ul>
				{% for sub_item in item.get('sub_struct', []) %}
				<li>
					<a class="struct-tab" _id="{{ sub_item.get('_id', '') }}">{{ sub_item.get('name', '') }}</a>
				</li>
				{% end %}
			</ul>
		</li>
		{% end %}
	</ul>
</div>

$(".signin").click(function(){
	  var t=$(this).text();
	  if(t=="选择结构"){
	  $("#right-pannel").slideDown();
	  $(this).text("关闭结构");
	  $(this).css('background','#d9534f');
	  }else{
	  $("#right-pannel").slideUp();
	  $(this).text("选择结构");
	  $(this).css('background','#428bca');
	}  
});

  $('.input-select').focus(function(){
    $(this).val('')
    $(this).next('.section_start_ul').show();
  })

  $("#firstpane p.menu_head").click(function(){
    $(this).find("i").addClass('fa-minus')
    $(this).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
    $(this).siblings().find("i").removeClass("fa-minus");
  });